html:has(.mainPage){scroll-behavior: smooth;}


/* 메인 페이지 */
.mainPage section h2{font-weight: 700;}
.mainPage :is(.smartArea, .toArea){height: var(--fullHeight); display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* 스마트한 방법 */
.mainPage{text-align: center;}
.mainPage .smartArea{background: url(../images/img-mainBG01.png) no-repeat center / cover; color: white;}
.mainPage .smartArea h2::after{content: ''; display: block; aspect-ratio: 480 / 70; background: url(../images/logo-white.png) no-repeat center / cover; margin-inline: auto;}

/* 부산에서 타바라로 */
.mainPage .toArea{background: url(../images/img-mainBG02.png) no-repeat center / cover; color: white;}
.mainPage .toArea ul li::before{content: ''; display: block; aspect-ratio: 1; margin-inline: auto; background: url(../images/icon-main.png) no-repeat left top calc(100% / (var(--totalIdx) - 1) * var(--styleIdx)) / 100%;}
.mainPage .toArea ul li strong{font-weight: 700; display: block;}

/* 떠올려주세요 */
.mainPage .thinkArea ul{color: white; width: 100%;}
.mainPage .thinkArea ul li{display: flex; flex-direction: column; justify-content: center; align-items: center; background-position: left top calc(100% / (var(--totalIdx) - 1) * var(--styleIdx)); background-size: 100%;}
.mainPage .thinkArea ul li strong{display: block; font-weight: 700;}

/* 이용가이드 */
.mainPage .userGuideArea{background-color: #f8f8f8; padding-inline: calc((100% - 1080px) / 2);}
.mainPage .userGuideArea ul{display: flex; justify-content: center;}
.mainPage .userGuideArea ul li button{font-weight: 700;}
.mainPage .userGuideArea ul li button.active{position: relative; color: black;}
.mainPage .userGuideArea ul li button.active::after{content: ''; position: absolute; left: 0; width: 100%; background-color: #E6007E;}
.mainPage .userGuideArea div{position: relative;}
.mainPage .userGuideArea div ol{display: none;}
.mainPage .userGuideArea div ol li::before{content: ''; display: block; aspect-ratio: 250 / 460; background-position: left top calc(100% / (var(--totalIdx) - 1) * var(--styleIdx)); background-size: 100%;}
.mainPage .userGuideArea div ol li{counter-increment: userGuide; counter-set: 2;}
/* .mainPage .userGuideArea div ol:nth-of-type(2) li{counter-set: userGuide 4;} */
.mainPage .userGuideArea div ol:nth-of-type(1) li::before{background-image: url(../images/img-userGuide01.png);}
.mainPage .userGuideArea div ol:nth-of-type(2) li::before{background-image: url(../images/img-userGuide02.png);}
.mainPage .userGuideArea div ol li strong{font-weight: 700; display: block; margin-bottom: 12px;}
.mainPage .userGuideArea div ol li strong::before{content: '0' counter(userGuide) ' '; color: #E6007E;}
.mainPage .userGuideArea div ol:nth-of-type(2) li:nth-child(1) strong:before{content: '04 ';}
.mainPage .userGuideArea div ol:nth-of-type(2) li:nth-child(2) strong:before{content: '05 ';}
.mainPage .userGuideArea div ol li p{color: #666;}


/* 고객센터 */
.customerPage section h2{font-weight: 700;}
.customerPage section .linkArea{display: flex; margin-bottom: 40px;}
.customerPage section .linkArea a{color: #999; font-weight: 700; line-height: 30px;}
.customerPage section .linkArea a.active{color: #E6007E;}
.customerPage section ul{border-top: 1px solid #222;}
.customerPage section ul li{border-bottom: 1px solid #DEDEDE;}

/* 고객센터 - 자주하는 질문 */
.customerPage.questionPage section ul li button::after{--styleIdx: 1; content: ''; aspect-ratio: 1; background: url(../images/icon-plus-minus.png) no-repeat left top calc(100% * var(--styleIdx)) / 100%;}
.customerPage.questionPage section ul li div{display: none; box-sizing: border-box; border-top: 1px solid #DEDEDE; background-color: #F8F8F8;}
.customerPage.questionPage section ul li button.active::after{--styleIdx: 0;}
.customerPage.questionPage section ul li button.active + div{display: block;}

/* 고객센터 - 공지사항 */
.customerPage.announcementPage section ul li a p{font-weight: 700;}
.customerPage.announcementPage section ul li a time{margin-left: auto;}

/* 고객센터 - 공지사항 - 상세 */
.customerPage.announcementDetailPage section .titleArea{border-top: 1px solid #222;}
.customerPage.announcementDetailPage section .titleArea strong{display: block; font-weight: 700}
.customerPage.announcementDetailPage section .titleArea strong{font-size: 18px; line-height: 21px;}
.customerPage.announcementDetailPage section .titleArea time{color: #666;}
.customerPage.announcementDetailPage section .detailArea{border-width: 1px 0; border-style: solid; border-color: #dedede;}
.customerPage.announcementDetailPage section > a{display: flex; justify-content: center; align-items: center; margin-inline: auto; border-radius: 6px; color: white; background-color: #E6007E; font-weight: 700;}

